<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ainannan.sys.dict.mapper.DictMapper" >
    <sql id="Dict_Column_List" >
        a.id as "id",
        a.name as "name",
        a.label as "label", 
        a.value as "value", 
        a.sort as "sort", 
        a.create_user as "createUser.id", 
        a.create_date as "createDate", 
        a.update_user as "updateUser.id", 
        a.update_date as "updateDate", 
        a.del_flag as "delFlag"
    </sql>
    
    <select id="get" resultType="Dict">
		SELECT 
			<include refid="Dict_Column_List"/>
		FROM sys_dict a
		WHERE a.id = #{id}
	</select>

    <select id="findList" resultType="Dict">
        SELECT 
       	<include refid="Dict_Column_List"/>
        FROM sys_dict a
        <where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="label != null and label != ''">
				AND a.label = #{label}
			</if>
			<if test="value != null and value != ''">
				AND a.value = #{value}
			</if>
		</where>
		order by a.sort
    </select>
    
    <select id="getLabelByName" resultType="String">
        SELECT 
       		a.label
        FROM sys_dict a
        <where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="value != null and value != ''">
				AND a.value = #{value}
			</if>
		</where>
    </select>
    
    <insert id="insert">
    	insert into sys_dict(
    		id,
    		label,
    		value,
    		name,
    		sort,
    		create_user,
    		create_date,
    		update_user,
    		update_date,
    		del_flag
    	) values(
    		#{id},
    		#{label},
    		#{value},
    		#{name},
    		#{sort},
    		#{createUser.id},
    		#{createDate},
    		#{updateUser.id},
    		#{updateDate},
    		#{delFlag}
    	)
    </insert>
    
    <update id="update">
		UPDATE sys_dict	
		<trim prefix="SET" suffixOverrides=","> 
			<if test="label != null">
				label = #{label},
			</if>
			<if test="value != null">
				value = #{value},
			</if>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="sort != null">
				sort = #{sort},
			</if>
			<if test="updateUser != null and updateUser.id != null">
				update_user = #{updateUser.id},
			</if>	
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>	
			<if test="delFlag != null">
				del_flag = #{delFlag},
			</if>
		</trim>
		WHERE id = #{id}
	</update>
</mapper>